.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 320px;
    background-color: white;
    border-radius: 5%;
}
